---
import "../../styles/markdown.css";
import "../../styles/expressive-code.css";
import "../../styles/markdown-extend.styl";

interface Props {
	class: string;
}

const className = Astro.props.class;
---

<div class={`prose dark:prose-invert prose-base max-w-none! custom-md ${className}`}>
	<slot />
</div>
