---
import { expressiveCodeConfig, siteConfig } from "../config";
---


<div
  id="config-carrier"
  data-hue={siteConfig.themeColor.hue}
  data-hide-code-blocks-during-transition={expressiveCodeConfig.hideDuringThemeTransition
    ? "true"
    : "false"}
>
</div>
